@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: #92a9bd;
}
h1 {
  text-align: center;
  top: 10%;
  font-family: "Playfair Display", serif;
}
#bttn {
  background-color: #d3dedc;
  margin-top: 10px;
  margin: auto;
  display: block;
  border-radius: 6px;
  display: flex;
  position: absolute;
  top: 30%;
  margin-left: 45%;
  font-family: "Playfair Display", serif;
}
